{% if label %}
    <label for="{{ id }}">{{label}}</label>
{% endif %}
<input {% if required == "1" %} required="required" {% endif %} class="form-control" type="{{ type }}" name="{{ name }}" value="{{ value }}" id="{{ id }}">
